.content-container p,
.content-container li {
	font-size: 1.2em;
	margin-bottom: 1em;
	color: #606060;
}

.content-container li {
	list-style-type: circle;
}

.button-style {
	color: #fff;
}

.text-center {
	text-align: center;
}

.content-container .button {
	margin-top: 35px;
}

.content-container .ql-align-center {
	text-align: center;
}

.content-container .ql-align-right {
	text-align: right;
}
