<div class="page-title parallax parallax4" style="background-image:url({{imageUrl}})">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading large-page-header">
                    <h2 class="title">{{{heading}}}
                        <button onclick="window.location.href='{{buttonLink}}'"
                            class="flat-button button-style">{{buttonLabel}}</button>
                    </h2>

                </div>
                <!-- /.page-title-heading -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /page-title parallax -->