<section class="flat-row flat-icon icon-left">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="title-section">
                    <h4>You can join Us</h4>
                    <h2><span>Our</span> Programs</h2>
                </div>
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
        <div class="flat-icon-left">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="iconbox">
                        <div class="icon">
                            <i class="icon-handbag"></i>
                            <h6 class="title-post">
                                <a href="#">Food & Drinks</a>
                            </h6>
                        </div><!-- /icon -->
                        <div class="icon-post-v1">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                    </div>
                </div><!-- /col-md-4 -->

                <div class="col-md-4 col-sm-6">
                    <div class="iconbox">
                        <div class="icon">
                            <i class="icon-book-open"></i>
                            <h6 class="title-post">
                                <a href="#">Education</a>
                            </h6>
                        </div><!-- /icon -->
                        <div class="icon-post-v1">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                    </div>
                </div><!-- /col-md-4 -->

                <div class="col-md-4 col-sm-6">
                    <div class="iconbox">
                        <div class="icon">
                            <i class="icon-home"></i>
                            <h6 class="title-post">
                                <a href="#">House & Shelter</a>
                            </h6>
                        </div>
                        <div class="icon-post-v1">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                    </div>
                </div><!-- /col-md-4 -->
            </div><!-- /row -->

            <div class="row">
                <div class="flat-divider d45px"></div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="iconbox">
                        <div class="icon">
                            <i class="icon-shield"></i>
                            <h6 class="title-post">
                                <a href="#">Health & Medicine</a>
                            </h6>
                        </div>
                        <div class="icon-post-v1">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                    </div>
                </div><!-- /col-md-4 -->

                <div class="col-md-4 col-sm-6">
                    <div class="iconbox">
                        <div class="icon">
                            <i class="icon-badge"></i>
                            <h6 class="title-post">
                                <a href="#">Legal Rights</a>
                            </h6>
                        </div>
                        <div class="icon-post-v1">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                    </div>
                </div><!-- /col-md-4 -->

                <div class="col-md-4 col-sm-6">
                    <div class="iconbox">
                        <div class="icon">
                            <i class="icon-volume-2"></i>
                            <h6 class="title-post">
                                <a href="#">Political Awarness</a>
                            </h6>
                        </div>
                        <div class="icon-post-v1">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                    </div>
                </div><!-- /col-md-4 -->
            </div><!-- /row -->
        </div>
    </div><!-- /container -->
</section><!-- /flat-row flat-icon icon-left -->