<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                <img src="{{imageUrl}}" alt="slider-image" />
                <div class="overlay"></div>

                <div class="tp-caption sfr title-slide box center color-white large style5" data-x="112" data-y="272"
                    data-speed="1500" data-start="1500" data-easing="Sine.easeInOut">{{heading}}
                </div>

                <div class="tp-caption sfl flat-button border-white start" data-x="116" data-y="464" data-speed="1500"
                    data-start="1500" data-easing="Sine.easeInOut"><a href="{{buttonLink}}">{{buttonLabel}}</a></div>

            </li>

            {{!-- <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000"
                data-saveperformance="on">
                <img src="images/slides/2.jpg" alt="slider-image" />
                <div class="overlay"></div>

                <div class="tp-caption sfb title-slide box center color-white large style2" data-x="112" data-y="207"
                    data-speed="1500" data-start="1500" data-easing="Power3.easeInOut">
                    Every problem has <br> a great <span>Solution</span></div>


                <div class="tp-caption sft desc-slide center color-white style3" data-x="112" data-y="396"
                    data-speed="1000" data-start="1500" data-easing="Power3.easeInOut">
                    Consectetur ed do eiusmod tempor incid idunLorem ipsum dolor sit amet, con <br>sectetur adipisicing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore <br> magna aliqua enim ad minim veniam
                    quis</div>

                <div class="tp-caption sfl flat-button border-white start" data-x="112" data-y="528" data-speed="1000"
                    data-start="2000" data-easing="Power3.easeInOut"><a href="#">Learn More</a></div>

            </li>

            <li data-transition="slidedown" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                <img src="images/slides/3.jpg" alt="slider-image" />
                <div class="overlay"></div>

                <div class="tp-caption sfb title-slide box center color-white large style4" data-x="332" data-y="245"
                    data-speed="1500" data-start="1500" data-easing="Power3.easeInOut">
                    We stand for<br><span>Greatest</span> Causes</div>

                <div class="tp-caption sft desc-slide box center bg-dark color-white style5" data-x="339" data-y="393"
                    data-speed="1500" data-start="1500" data-easing="Power3.easeInOut">
                    Kotota kangal hoye thaki bujhle na kokhono </div>

                <div class="tp-caption sft flat-button border-white start" data-x="511" data-y="490" data-speed="1500"
                    data-start="1500" data-easing="Power1.easeInOut"><a href="#">Learn More</a></div>
            </li>

            <li data-transition="slidedown" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                <img src="images/slides/5.jpg" alt="slider-image" />
                <div class="overlay"></div>

                <div class="tp-caption sfb title-slide box center color-white large style4" data-x="332" data-y="245"
                    data-speed="1500" data-start="1500" data-easing="Power3.easeInOut">
                    <span>Childrens </span>are Gods<br><span>Best </span>Creation
                </div>

                <div class="tp-caption sft flat-button border-white start" data-x="511" data-y="490" data-speed="1500"
                    data-start="1500" data-easing="Power1.easeInOut"><a href="#">Learn More</a></div>
            </li>

            <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                <img src="images/slides/4.jpg" alt="slider-image" />
                <div class="overlay"></div>

                <div class="tp-caption sfr title-slide box center color-white large style1" data-x="112" data-y="272"
                    data-speed="1500" data-start="1500" data-easing="Sine.easeInOut">The best use of your<br>money is
                    <span>Giving</span>
                </div>

                <div class="tp-caption sfl flat-button border-white start" data-x="116" data-y="464" data-speed="1500"
                    data-start="1500" data-easing="Sine.easeInOut"><a href="#">Learn More</a></div>

            </li> --}}
        </ul>
    </div>
</div>