<section class="flat-row flat-member">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="title-section">
                    <h4>Working to save world</h4>
                    <h2><span>Our</span> Volunteers</h2>
                </div>
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->

        <div class="row">
            <div class="flat-member-carousel" data-item="3" data-nav="true" data-dots="false" data-auto="false">
                <div class="cs-module-4">
                    <div class="item">
                        <div class="overlay"></div>
                        <img src="images/member/1.jpg" alt="image">
                    </div>
                    <div class="demo">
                        <div class="cs-post">
                            <div class="cs-post-header">
                                <div class="cs-category-links">
                                    <h6 class="name"><a href="#">Juwel Khan</a></h6>
                                    <span class="position">Student</span>

                                    <div class="cs-post-footer">
                                        <div class="cs-footer-share">
                                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cs-module-4">
                    <div class="item">
                        <div class="overlay"></div>
                        <img src="images/member/2.jpg" alt="image">
                    </div>
                    <div class="demo">
                        <div class="cs-post">
                            <div class="cs-post-header">
                                <div class="cs-category-links">
                                    <h6 class="name"><a href="#">Binika Sharma</a></h6>
                                    <span class="position">Student</span>

                                    <div class="cs-post-footer">
                                        <div class="cs-footer-share">
                                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cs-module-4">
                    <div class="item">
                        <div class="overlay"></div>
                        <img src="images/member/3.jpg" alt="image">
                    </div>
                    <div class="demo">
                        <div class="cs-post">
                            <div class="cs-post-header">
                                <div class="cs-category-links">
                                    <h6 class="name"><a href="#">Akbar Hossain</a></h6>
                                    <span class="position">Student</span>

                                    <div class="cs-post-footer">
                                        <div class="cs-footer-share">
                                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cs-module-4">
                    <div class="item">
                        <div class="overlay"></div>
                        <img src="images/member/4.jpg" alt="image">
                    </div>
                    <div class="demo">
                        <div class="cs-post">
                            <div class="cs-post-header">
                                <div class="cs-category-links">
                                    <h6 class="name"><a href="#">Minhaz Abedin</a></h6>
                                    <span class="position">Student</span>

                                    <div class="cs-post-footer">
                                        <div class="cs-footer-share">
                                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cs-module-4">
                    <div class="item">
                        <div class="overlay"></div>
                        <img src="images/member/1.jpg" alt="image">
                    </div>
                    <div class="demo">
                        <div class="cs-post">
                            <div class="cs-post-header">
                                <div class="cs-category-links">
                                    <h6 class="name"><a href="#">Juwel Khan</a></h6>
                                    <span class="position">Student</span>

                                    <div class="cs-post-footer">
                                        <div class="cs-footer-share">
                                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cs-module-4">
                    <div class="item">
                        <div class="overlay"></div>
                        <img src="images/member/2.jpg" alt="image">
                    </div>
                    <div class="demo">
                        <div class="cs-post">
                            <div class="cs-post-header">
                                <div class="cs-category-links">
                                    <h6 class="name"><a href="#">Binika Sharma</a></h6>
                                    <span class="position">Student</span>

                                    <div class="cs-post-footer">
                                        <div class="cs-footer-share">
                                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cs-module-4">
                    <div class="item">
                        <div class="overlay"></div>
                        <img src="images/member/3.jpg" alt="image">
                    </div>
                    <div class="demo">
                        <div class="cs-post">
                            <div class="cs-post-header">
                                <div class="cs-category-links">
                                    <h6 class="name"><a href="#">Akbar Hossain</a></h6>
                                    <span class="position">Student</span>

                                    <div class="cs-post-footer">
                                        <div class="cs-footer-share">
                                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cs-module-4">
                    <div class="item">
                        <div class="overlay"></div>
                        <img src="images/member/4.jpg" alt="image">
                    </div>
                    <div class="demo">
                        <div class="cs-post">
                            <div class="cs-post-header">
                                <div class="cs-category-links">
                                    <h6 class="name"><a href="#">Minhaz Abedin</a></h6>
                                    <span class="position">Student</span>

                                    <div class="cs-post-footer">
                                        <div class="cs-footer-share">
                                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cs-module-4">
                    <div class="item">
                        <div class="overlay"></div>
                        <img src="images/member/1.jpg" alt="image">
                    </div>
                    <div class="demo">
                        <div class="cs-post">
                            <div class="cs-post-header">
                                <div class="cs-category-links">
                                    <h6 class="name"><a href="#">Juwel Khan</a></h6>
                                    <span class="position">Student</span>

                                    <div class="cs-post-footer">
                                        <div class="cs-footer-share">
                                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cs-module-4">
                    <div class="item">
                        <div class="overlay"></div>
                        <img src="images/member/2.jpg" alt="image">
                    </div>
                    <div class="demo">
                        <div class="cs-post">
                            <div class="cs-post-header">
                                <div class="cs-category-links">
                                    <h6 class="name"><a href="#">Binika Sharma</a></h6>
                                    <span class="position">Student</span>

                                    <div class="cs-post-footer">
                                        <div class="cs-footer-share">
                                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cs-module-4">
                    <div class="item">
                        <div class="overlay"></div>
                        <img src="images/member/3.jpg" alt="image">
                    </div>
                    <div class="demo">
                        <div class="cs-post">
                            <div class="cs-post-header">
                                <div class="cs-category-links">
                                    <h6 class="name"><a href="#">Akbar Hossain</a></h6>
                                    <span class="position">Student</span>

                                    <div class="cs-post-footer">
                                        <div class="cs-footer-share">
                                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cs-module-4">
                    <div class="item">
                        <div class="overlay"></div>
                        <img src="images/member/4.jpg" alt="image">
                    </div>
                    <div class="demo">
                        <div class="cs-post">
                            <div class="cs-post-header">
                                <div class="cs-category-links">
                                    <h6 class="name"><a href="#">Minhaz Abedin</a></h6>
                                    <span class="position">Student</span>

                                    <div class="cs-post-footer">
                                        <div class="cs-footer-share">
                                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /flat-member-carousel -->
        </div><!-- /row -->
    </div><!-- /container -->
</section><!-- /flat-row flat-member -->