<div class="page-title parallax parallax2">
    <div class="overlay v1"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="flat-counter">
                    <div class="numb-count" data-to="324" data-speed="2000" data-waypoint-active="yes">324</div>
                    <div class="name-count">
                        <p>Volunteers</p>
                    </div>
                </div><!-- /flat-counter -->
            </div><!-- /.col-md-3 -->

            <div class="col-md-3">
                <div class="flat-counter">
                    <div class="numb-count" data-to="984" data-speed="2000" data-waypoint-active="yes">984</div>
                    <div class="name-count">
                        <p>Campaign</p>
                    </div>
                </div><!-- /.roll-counter -->
            </div><!-- /.col-md-3 -->

            <div class="col-md-3">
                <div class="flat-counter counter-donation">
                    <div class="numb-count" data-to="232" data-speed="2000" data-waypoint-active="yes">232</div>
                    <div class="name-count">
                        <p>Donation</p>
                    </div>
                </div><!-- /flat-counter -->
            </div><!-- /.col-md-3 -->

            <div class="col-md-3">
                <div class="flat-counter">
                    <div class="numb-count" data-to="24" data-speed="2000" data-waypoint-active="yes">24</div>
                    <div class="name-count">
                        <p>Awards</p>
                    </div>
                </div><!-- /flat-counter -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /page-title parallax parallax2 -->