<section class="flat-row icon-left-square">
    <div class="container">
        <div class=" flat-icon">
            <div class="row">
                <div class="col-md-4">
                    <div class="icon">
                        <div class="icon-square">
                            <i class="icon-rocket"></i>
                        </div>
                        <div class="icon-post">
                            <h6 class="title-post">
                                <a href="#">Our Mission</a>
                            </h6>
                            <p>Lorem ipsum dolor sit amet, consectetur ed do eiusmod tempor incid idunt ut lab ore et
                                dad minim vader.</p>
                            <div class="more">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon">
                        <div class="icon-square">
                            <i class="icon-briefcase"></i>
                        </div>
                        <div class="icon-post">
                            <h6><a href="#">Our Program</a></h6>
                            <p>Lorem ipsum dolor sit amet, consectetur ed do eiusmod tempor incid idunt ut lab ore et
                                dad minim vader.</p>
                            <div class="more">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="icon">
                        <div class="icon-square">
                            <i class="icon-support"></i>
                        </div>
                        <div class="icon-post">
                            <h6><a href="#">Help & Support</a></h6>
                            <p>Lorem ipsum dolor sit amet, consectetur ed do eiusmod tempor incid idunt ut lab ore et
                                dad minim vader.</p>
                            <div class="more">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- /flat-row icon-left-square -->