<section class="flat-row flat-support-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="flat-support">
                    <div class="support-wrapper">
                        <h4 class="title-post">
                            <a href="#">We Need Your Help</a>
                        </h4>
                        <p>magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea commodo consequat. Duis aute irure ugiat nulla pariatur.</p>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="support-icon">
                                <div class="icon">
                                    <i class="icon-present"></i>
                                    <h6 class="title-post">
                                        <a href="#">Donate Our Causes</a>
                                    </h6><!-- /title-post -->
                                </div><!-- /icon -->
                                <div class="icon-post-v1">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                                </div><!-- /icon-post-v1 -->
                            </div><!-- /support-icon -->
                        </div><!-- /col-md-6 -->

                        <div class="col-md-6">
                            <div class="support-icon">
                                <div class="icon">
                                    <i class="icon-people"></i>
                                    <h6 class="title-post">
                                        <a href="#">Become A Volunteer</a>
                                    </h6><!-- /title-post -->
                                </div><!-- /icon -->
                                <div class="icon-post-v1">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                                </div><!-- /icon-post-v1 -->
                            </div><!-- /support-icon -->
                        </div><!-- /col-md-6 -->
                    </div><!-- /row -->

                    <div class="row">
                        <div class="flat-divider d30px"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="support-icon">
                                <div class="icon">
                                    <i class="icon-pin"></i>
                                    <h6 class="title-post">
                                        <a href="#">Sponsor Us</a>
                                    </h6><!-- /title-post -->
                                </div><!-- /icon -->
                                <div class="icon-post-v1">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                                </div><!-- /icon-post-v1 -->
                            </div><!-- /support-icon -->
                        </div><!-- /col-md-6 -->

                        <div class="col-md-6">
                            <div class="support-icon">
                                <div class="icon">
                                    <i class="icon-user-follow"></i>
                                    <h6 class="title-post">
                                        <a href="#">Tell A Friend</a>
                                    </h6><!-- /title-post -->
                                </div><!-- /icon -->
                                <div class="icon-post-v1">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                                </div><!-- /icon-post-v1 -->
                            </div><!-- /support-icon -->
                        </div><!-- /col-md-6 -->
                    </div><!-- /row -->
                </div><!-- /support-teaser -->
            </div><!-- /col-md-6 -->

            <div class="col-md-6">
                <div class="container-fluid">
                    <div class="img-wrapper">
                        <img src="images/member/6.jpg" alt="image">
                    </div>
                </div>
            </div><!-- /col-md-6 -->
        </div><!-- /row -->
    </div><!-- /container -->
</section><!-- /flat-row flat-support-us no-padding-bottom -->