<div class="tp-banner-container">
	<div class="tp-banner">
		<ul>
			<li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
				<img src="{{page.hero}}" alt="slider-image" />
				<div class="overlay"></div>

				<div class="tp-caption sfr title-slide box center color-white large style1" data-x="112" data-y="272"
					data-speed="1500" data-start="1500" data-easing="Sine.easeInOut">{{page.heroTagline}}
				</div>

				<div class="tp-caption sfl flat-button border-white start" data-x="116" data-y="464" data-speed="1500"
					data-start="1500" data-easing="Sine.easeInOut"><a
						href="{{page.heroButtonLink}}">{{page.heroButtonLabel}}</a>
				</div>

			</li>
		</ul>
	</div>
</div>

{{#each page.content}}

{{#switch type}}

{{#case 'section'}}

<section class="flat-row">
	<div class="container content-container">
		<div class="row">

			{{#each content}}
			{{> blocks}}
			{{/each}}

		</div>
	</div>
</section>

{{/case}}

{{/switch}}




{{/each}}